.borderTop {
    border-bottom: 32px solid #ca4343;
}

#listPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    
}

#lisePage, .userList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: .1em solid rgb(255, 255, 255);
    width: 15em;
    height: 13em;
    border-radius: 0.3em;
    height: 20em;
    margin-bottom: 40px;
    border-bottom: 32px solid #f8f5f0;
    color: #ca4343;

    
}

#lisePage, .userList:hover {
    background-color: #e9e7e3;
    background: rgba(0, 0, 0, 0.05); 
    border-bottom: 20px solid #ca4343;
    font-weight: bold;
}

#lisePage, .userList img {
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 0 auto;
    background: #fff;
    width: 7em;
    height: 7em;
    box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}

#lisePage, .userList img p {
    font-size: 1em;
}