

<div class="profilePage">
        <div class="userProfile card">
                <div class="userProfileImg">
                        <a routerLink="/home"><img class="arrow" src="/assets/left-arrow.png" alt="arrow"/></a>
                        <img class="cover" src="/assets/360medics.jpg" alt="cover picture"/>
                        <img class="avatar" src="{{user.avatar}}" alt="{{ user.first_name }} {{ user.last_name }}"/>
                </div>
                <div class="dataProfile">
                        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                        <p class="email">{{user.email}}</p>
                </div> 
                        <ul class="follow">
                                <li><a><strong>22</strong><span>Posts</span></a></li>
                                <li><a><strong>57</strong><span>Followers</span></a></li>
                                <li><a><strong>131</strong><span>Following</span></a></li>
                        </ul>
        </div>
</div>